 <% if @specific_anime["attributes"]["coverImage"].blank? %>
    <div  style= "height: 240px; width: 100%; background-color: grey" , class= "mt-5"></div>
<% else %>
    <%= image_tag @specific_anime["attributes"]["coverImage"]["large"], 
        style: "height: 240px; width: 100%;" , class: "mt-5"%>
<% end %>



<h4 class="d-flex align-items-center justify-content-center my-3">
    <%= @specific_anime["attributes"]["titles"]["en_jp"] %>
</h4>

<div class="container", style="min-height: 22rem">
    <div class="row">
        <div class="col-md-3">
            <p class="fw-bold">Description:</p>
        </div>
        <div class="col-md-9">
            <p class="fw-normal fs-10">
                <%= @specific_anime["attributes"]["description"] %>
            </p>
        </div>
    </div>
     <div class="row">
        <div class="col-md-3">
            <p class="fw-bold">Duration:</p>
        </div>
        <div class="col-md-9">
            <p class="fw-normal fs-10">
                <%= @specific_anime["attributes"]["startDate"].to_time.strftime("%B %d, %Y") %> to 
                <% if @specific_anime["attributes"]["endDate"].blank? %>
                    <span class="fw-bold">N/A</span>
                <% else %>
                   <%= @specific_anime["attributes"]["endDate"].to_time.strftime("%B %d, %Y") %>
                <% end %>
            </p>
        </div>
    </div>
     <div class="row">
        <div class="col-md-3">
            <p class="fw-bold">Ratings:</p>
        </div>
        <div class="col-md-9">
            <p class="fw-normal fs-10">
                <span class="badge text-bg-secondary"><%=  @specific_anime["attributes"]["subtype"].upcase %></span>
                <span class="badge text-bg-primary mr-2"><%=  "#{@specific_anime["attributes"]["ageRating"]} (#{@specific_anime["attributes"]["ageRatingGuide"]})" %></span>
                <span class="badge text-bg-warning"><%=  @specific_anime["attributes"]["status"].capitalize %></span>
            </p>
        </div>
    </div>
     <div class="row">
        <div class="col-md-3">
            <p class="fw-bold">No of Episodes:</p>
        </div>
        <div class="col-md-9">
            <p class="fw-normal fs-10">
                <% if @specific_anime["attributes"]["episodeCount"].blank? %>
                    <span class="badge text-bg-success">N/A</span>
                <% else %>
                   <span class="badge text-bg-success"><%=  @specific_anime["attributes"]["episodeCount"] %></span>
                <% end %>
                
            </p>
        </div>
     </div>
     <div class="row">
        <div class="col-md-3">
            <p class="fw-bold">Genres:</p>
        </div>
        <div class="col-md-9"> 
            <% @specific_genre.each do |genre| %>
                <span class="badge rounded-pill text-bg-light mr-2">
                    <%= genre["attributes"]["name"] %>
                </span>
            <% end %>
        </div>
     </div>
</div>

<div class="container">
    <div class="card border-light my-3" style="max-width: 100%">
        <div class="card-header d-flex align-items-center justify-content-center">
            <h5>Reviews</h5>
        </div>
        <div class="card-body text-dark">
            <% @specific_review.each_with_index do |review, index|%>
                <p>
                    <a class="btn btn-outline-primary" data-bs-toggle="collapse" 
                        href="#Example<%= review["id"] %>"  role="button" aria-expanded="false" 
                        aria-controls="#Example<%= review["id"] %>">
                        Review : <%= index + 1 %>
                    </a>
                </p>
                <div class="collapse" id="Example<%= review["id"] %>">
                    <div class="card card-body mb-3">
                        <div class = "row g-0">
                            <div class="col-md-2"> 
                                <% if HTTParty.get("https://kitsu.io/api/edge/reviews/#{review["id"]}/user")
                                    .parsed_response["data"]["attributes"]["avatar"].blank? %>
                                    <div class="bg-secondary" style="width: 3rem; height: 3rem; border-radius: 50%"></div>
                                <% else %>
                                    <%= image_tag HTTParty.get("https://kitsu.io/api/edge/reviews/#{review["id"]}/user")
                                    .parsed_response["data"]["attributes"]["avatar"]["medium"], 
                                    style: "height: 100px; width: 100px;" , class: "mt-1 rounded-circle border-info"%>
                                <% end %>                           
                                <p class="fw-bold d-flex align-items-center justify-content-start">
                                    <%= HTTParty.get("https://kitsu.io/api/edge/reviews/#{review["id"]}/user")
                                    .parsed_response["data"]["attributes"]["name"]%></p>
                                <p class = "text-danger">
                                   <%= review["attributes"]["likesCount"].to_s %> 
                                    <i class="fa-solid fa-heart"></i>
                                </p>
                            </div>
                            <div class="col-md-9"> 
                                <p><%= review["attributes"]["content"] %></p>      
                            </div>  
                        </div>
                                        
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>