<h1 class="d-flex align-items-center justify-content-center">Anime</h1>

 
<% @all_anime.each do |anime| %>
   <div class="container">
         <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                <%= image_tag anime["attributes"]["posterImage"]["original"] , class: "img-fluid rounded-start"%>
                </div>
                <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%= anime["attributes"]["titles"]["en_jp"] %></h5>
                    <p class="card-text"><%= anime["attributes"]["synopsis"] %></p>
                    <p class="card-text">
                        <span class="badge text-bg-primary mr-2"><%= anime["attributes"]["ageRating"] %></span>
                        <span class="badge text-bg-secondary"><%= anime["attributes"]["subtype"] %></span>
                    </p>
                </div>
                </div>
            </div>
        </div>
   </div>
<% end %> 

<%
=begin%>
 <%= @all_anime["attributes"]["titles"].inspect %> 
<%
=end%>

