
 <div style="min-height: 800px" class="mt-5 mb-5">
 <h1 class="d-flex align-items-center justify-content-center">Anime</h1>
 <% @all_anime3.each do |anime| %>
      <div class="container">
            <div class="container">
                <div class="card mb-3" >
                    <div class="row g-0">
                        <div class="col-md-2">
                            <%= image_tag anime["attributes"]["posterImage"]["original"] , class: "rounded-start", 
                            style: "height: 300px; width: 200px;"%>
                        </div>
                        <div class="col-md-10">
                            <div class="container">
                                <div class="card-body">
                                    <h5 class="card-title"><%= anime["attributes"]["titles"]["en_jp"] %></h5>
                                    <p class="badge text-bg-success"><%= anime["attributes"]["status"] %></p>
                                    <p class="card-text"><%= anime["attributes"]["synopsis"].truncate_words(40) %></p>
                                    <p class="card-text">
                                        <span class="badge text-bg-primary mr-2"><%= anime["attributes"]["ageRating"] %></span>
                                        <span class="badge text-bg-secondary"><%= anime["attributes"]["subtype"] %></span>
                                    </p>
                                      <div class="d-flex justify-content-end">
                                        <%= link_to "View More", {:controller => "home", :action => "details_show", :id => anime["id"] }, class: "btn btn-info" %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>
    <% end %>
    <div class="container">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end pb-4">
                <li class="page-item">
                    <%= link_to "Previous", home_second_page_path , class: "page-link" %>
                </li>
                <li class="page-item">
                    <%= link_to "Next", home_fourth_page_path , class: "page-link" %>
                </li>
            </ul>
        </nav>
    </div>

    </div>